# To force CRLF line endings 
* text eol=crlf
*.ipynb text eol=crlf


# Set default behavior for all files
* text=auto

# Explicitly declare files that are binary and should not have line endings changed
*.shx -text
*.shp -text

# Explicitly declare line endings for specific file types
*.ipynb text eol=crlf